body {
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(to bottom, #fff0f5, #ffe6f0);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

h1 {
  color: #ff77aa;
  font-size: 3rem;
  margin: 30px 0 10px;
  text-shadow: 1px 1px #ffcce5;
}

.container {
  color: #ff99cc;
}

.card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(246, 140, 165, 0.746);
  max-width: 420px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 90px;
}

input, button {
  width: 80%;
  margin: 15px 0;
  padding: 14px;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(246, 140, 165, 0.746);
}

button {
  background-color: #ffb6cb;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #d9869e;
  transform: scale(1.03);
}

